h1 {
    color: brown;
}

/* * {
    border: solid;
}*/
.header{ 
    background-color: rgb(69 , 50 , 75);
    display : flex;
    justify-content: space-between;
}
.grid{
    background-color: #324576;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer{
    background-color: #921445;
    display: flex;
    justify-content: flex-end;
}
a{
    word-spacing: 30px;
}

 body{
   /*  background-image: url('robot.png');
     background-size: cover;
     width: 100px;*/
     background-color: #808080;
 }
